.hero .container {
  padding-top: 90px;
  padding-bottom: 90px;
  padding-left: 75px;
  padding-right: 75px;
}

.hero__title {
  font-size: 108px;
  line-height: 0.9;
  color: var(--white);
  text-transform: uppercase;
}

.hero__title-emphasized {
  font-family: Hypergoals;
  font-size: 125px;
  color: var(--green);
  letter-spacing: 8px;
}
